{{ "<!-- About Section -->" | safeHTML }}
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>INTERIOR SPECIALTIES is a manufacturer’s representative agency that serves Central and Southern Ohio through the promotion and sale of specialty interior building products – products that are used by commercial contractors and facility owners/operators within commercial, health-care and educational buildings.</p>
        <p>We are committed to a professional and honest approach to doing business and we are determined to provide the highest level of service to each and every customer. We endeavor to work closely with our clients in order to properly identify their specific needs. We then provide the appropriate product specification information, design assistance and technical support to meet those needs in a timely and cost-effective manner.</p>
        <p>For over 30 years, Interior Specialties has served as a representative for Construction Specialties, Inc. (the C/S Group) … an innovative leader in providing architectural specialty products for the commercial construction industry.  Those products include:</p>
        <p><a href="#acrovyn">ACROVYN WALL PROTECTION</a>, <a href="#acrovyn">ACROVYN DOORS</a>, <a href="#pedisystems">PEDISYSTEMS ENTRANCE FLOORING</a>, <a href="#generalcibicle">C/S CUBICLE CURTAINS &amp; TRACKS</a></p>
      </div>
    </div>
  </div>
</section>
